<html>

<head>
    <title>HOMEWORK</title>
</head>

<body>
    <div id="app">
        <div v-if="gender== 'male'|| gender =='female'">

            <h1>Hello,
                <span v-show="gender== 'male'">Mister {{name}}</span>
                <span v-if="gender== 'female'">Miss {{name}}</span>
            </h1>
        </div>
        <h1 v-else>So you can't decide. Fine</h1>
        <label for="gender">Enter your gender:</label>
        <input v-model="gender" class="form-control" id="gender">
        <label for="name">Enter your name:</label>
        <input v-model="name" class="form-control" id="name"></input>
    </div>
    <!-- app end -->
</body>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            name: 'kim',
            gender: 'female'
        }
    });
</script>

</html>

